.beats-panel {
    width: 500px;
}

.beats-panel-body {
    display: flex;
    align-items: center;

    img {
        max-height: 150px;
        max-width: 150px;
        flex-shrink: 0;
    }

    .beats-text {
        margin-left: 15px;
        font-size: 1.15em;
    }

    .beats-title {
        font-size: 1.25em;
    }

    p {
        font-size: 1em;
        margin-bottom: 0px;
    }
}
