.events-panel {
    width: 356px;
}

.event-item {
    margin: 10px 5px;
    line-height: 1.5em;

    .event-summary {
        font-size: 1.25em;
    }
}

.events-body-no-events {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #999;
}
